@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

button {
	cursor: pointer;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
}

.pwfind_container {
	width: 100%;
	max-width: 1320px;
	margin: 50px auto;
	text-align: center;
	padding: 30px 0;
}

input {
	border: none;
}

.gobutton {
	display: flex;
	justify-content: space-between;
}

.input_id {
	width: 500px;
	height: 46px;
	background-color: #ffffff;
	color: #00a38b;
	border: 1px solid #00a38b;
	border-radius: 5px;
	margin: 15px 0;
	font-size: 16px;
}

.input_id:hover {
	cursor: pointer;
}

.box {
	width: 500px;
	text-align: left;
	padding: 30px 0px;
	margin: 50px auto;
}

.idinput {
	width: 500px;
	height: 46px;
	text-align: left;
	margin-top: 20px;
	font-size: 16px;
	padding: 0px;
	border-bottom: 1px solid #cccccc;
}

input::placeholder {
	color: #cccccc;
	font-size: 16px;
}

input:focus {  
   border: none; /* 기존 테두리 제거 */
   border-bottom: 1px solid var(--MainColor); /* 밑줄만 적용 */
   outline: none; /* 기본 outline 제거 */
}

.h3 {
	font-weight: 700;
	margin-top: 30px;
	font-size: 20px;
	line-height: 30px;
}


.login {
	border: 1px solid #b8c1ff;
	color: #7688ff;
}

.login:hover {
	border: 1px solid var(--MainColor);
	color: var(--MainColor);
   transition: all 0.3s;
}

.main {
	border: 1px solid #cccccc;
	color: #555;
}

.main:hover {
	border: 1px solid var(--MainColor);
	color: var(--MainColor);
   transition: all 0.3s;
}

.go {
	width: calc(50% - 5px);
	height: 46px;
	line-height: 46px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	background: transparent;
	cursor: pointer;
}

input:focus {outline: none;}

@media screen and (max-width: 1380px) {
	.pwfind_container {
		width: 90%;
	}
}

@media screen and (max-width: 560px) {
	.box {
		width: 89.2%;
	}
	.idinput {
		width: 100%;
	}

	.input_id {
		width: 100%;
	}

   .go {
      margin: 0;
      width: 150px;
   }
}